* {
  margin-left: 6rem;
  padding: 0rem;
}

.top-bar {
  background: #333;
  color: #fff;
  padding: 1rem;
  margin-right: 20rem;
}

.btn {
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin: 0;
}

#page-num {
  margin-left: 1rem;
}

#page-count {
  margin-left: 1rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}