@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Heebo', sans-serif;
}
body{
	background-color: #212121;
	background-image: url("https://github.com/AakankshaJha1/IEEE_IGDTUW/blob/main/img/ieee-bg-2.png?raw=true") ;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.timeline-section{
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: #32E0C4; 
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #0D7377;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50% !important;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #EEEEEE;
	margin:6px 0 15px;
}
.timeline-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.timeline-details button{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color: #32E0C4;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #212121;
    letter-spacing: 3px;
}
.timeline-details button:hover{
    background-color: #0D7377;
	color: #fff;
}
.timeline-details{
	background-color: #212121;
	padding: 15px;
	backdrop-filter: blur(20px);
}
.timeline-item:nth-child(odd) .timeline-details{
    border-radius: 5px 0px 0px 5px;
}
.timeline-item:nth-child(odd) .timeline-img img{
    border-radius: 0px 5px 5px 0px;
}
.timeline-item:nth-child(even) .timeline-details{
    
    border-radius: 5px 0px 0px 5px;
}
.timeline-item:nth-child(even) .timeline-img img{
    border-radius: 0px 5px 5px 0px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5rem;
	margin-bottom: 1rem;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
    .timeline-details{
        height: auto;
    }
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
    .timeline-item:nth-child(even) .timeline-details, .timeline-item:nth-child(odd) .timeline-details{
        border-radius: 5px 5px 0px 0px;
    }
    .timeline-item:nth-child(even) .timeline-img img, .timeline-item:nth-child(odd) .timeline-img img{
        border-radius: 0px 0px 5px 5px ;
    }
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
    .timeline-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1/2fr 1/2fr;
    }
}